<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  <!-- <div class="content-wrapper">
    <section class="content-header">
      <section class="content"></section>
    </section>
  </div> -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Dashboard
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>{{data.length}}</h3>

              <p>Buku</p>
            </div>
            <div class="icon">
              <i class="fa fa-book"></i>
            </div>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3>53</h3>

              <p>Order baru</p>
            </div>
            <div class="icon">
              <i class="fa fa-shopping-basket"></i>
            </div>
          </div>
        </div>
        <!-- ./col -->
      </div>
    </section>
    <!-- /.content -->
  </div>
  <app-footernavbar></app-footernavbar>
</div>