<div class="wrapper">
    <app-topnavbar></app-topnavbar>
    <app-asidenavbar></app-asidenavbar>
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Stok Buku
          </h1>
          <div class="add-button">
              <button type="button" class="btn btn-primary btn-lg" (click)="goToInputBook()">
                <i class="fa fa-plus"></i>
                Tambah Buku
              </button>
          </div>
        </section>
    
        <!-- Main content -->
        <section class="content">
          <div class="row">
            <div class="col-xs-12">
              <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                  <table id="example2" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                      <th></th>
                      <th>Judul Buku</th>
                      <th>Jumlah Buku</th>
                      <th>Harga Satuan</th>
                      <th>Kategori</th>
                    </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let buku of bukus">
                        <th class="buku-image"><img src="http://bukuku.codepanda.id/{{buku.image}}"></th>
                        <th>{{buku.nama}}</th>
                        <th>{{buku.qty}}</th>
                        <th>{{buku.harga}}</th>
                        <th>{{buku.category}}</th>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!-- /.box-body -->
              </div>
              <!-- /.box -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </section>
        <!-- /.content -->
      </div>
    <app-footernavbar></app-footernavbar>
  </div>