<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left">
        <p>Admin bukuku</p>
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <div>
      <ul class="sidebar-menu" data-widget="tree">
        <li>
          <a (click)="dashboard()">
            <span>Dashboard</span>
          </a>
        </li>        
        <li >
          <a (click)="datastok()">
            <span>  Data Stok</span>
          </a>
        </li>
  
        <li>
          <a (click)="order()">
            <span>Order</span>
          </a>
        </li>
      </ul>
    </div>
    
  </section>
  <!-- /.sidebar -->
</aside>