<div class="login-box">
  <div class="login-logo">
    <a href="../../index2.html"><b>Admin</b>bukuku</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Silahkan Log In untuk masuk ke panel Admin</p>

      <div class="form-group has-feedback">
        <input class="form-control" type="email" required [(ngModel)]="loginProp.email" placeholder="Masukkan Email Admin">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input class="form-control" type="password" required [(ngModel)]="loginProp.password" placeholder="Password" >
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <!-- /.col -->
        <div class="col-xs-12">
          <button class="btn btn-primary btn-block btn-flat" (click)="login()">Sign In</button>
        </div>
        <!-- /.col -->
      </div>

  </div>
  <!-- /.login-box-body -->
</div>